<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="main-logo" href="//www.au.dk/" itemprop="url">
                <img src="/assets/logo2.PNG" alt="AU Logo">
            </a> 
            </div>
            <div id="navbar1" class="navbar-collapse collapse">
              <ul>
                <li>
                <a class="nav-item" href="http://envs.au.dk/videnudveksling/luft/maaling/">Luftmålinger</a> 
                </li>
                <li>
                <a class="nav-item" routerLink="home" routerLinkActive="active">Aktuel luftkvalitet</a>
                </li>  
                <li>
                    <a class="nav-item" routerLink="stations" routerLinkActive="active">Stationer</a>
                </li>       
               
             <li>        
                <a class="nav-item" routerLink="compounds" routerLinkActive="active">Stoffer</a>    
            </li>
             <li>        
                <a class="nav-item" routerLink="stoffer">Meteorologi data</a>    
            </li>
            <li>        
                <a href="#" class="nav-item" data-toggle="dropdown" role="button" aria-relevant="true" aria-expanded="false">Information<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item"><a class="dropdown-item" href="#" >Stationer</a></li>
                    <li class="dropdown-item"><a  class="dropdown-item" href="#">Stoffer</a></li>
                    <li class="dropdown-item"><a class="dropdown-item" href="#">Metoder</a></li>
                    <li class="dropdown-item"><a class="dropdown-item" href="#">Målinger</a></li> 
                    <li class="dropdown-item"><a class="dropdown-item" href="#">Luftforurening</a></li> 
                    <li class="dropdown-item" class="divider"></li>
                    <li class="dropdown-item"><a class="dropdown-item" href="#">Kontakt</a></li> 
                    <li class="dropdown-item"><a class="dropdown-item" href="#">Om</a></li> 
                </ul>

            </li> 
            </ul>      
           
            </div>
            </div>
            </nav>

            
           

<router-outlet></router-outlet>


<!--  <li >  
                  
                    <div class="dropdown">
                        <a href="#" class="nav-item" data-toggle="dropdown" role="button" aria-relevant="true" aria-expanded="false">Stationer<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">København</li>
                            <li class="dropdown-item"><a class="dropdown-item" routerLink="station" routerLinkActive="active">H.C. Andersen Boulevard</a></li>
                            <li class="dropdown-item"><a  class="dropdown-item" routerLink="components" routerLinkActive="active" href="#">H.C. Ørested Institute</a></li>
                            <li class="dropdown-item"><a class="dropdown-item" href="#">Jagtvej</a></li>
                            <li class="dropdown-item"><a class="dropdown-item" href="#">Hvidovre</a></li>

                            <li class="divider"></li>
                            <li class="dropdown-header">Odense</li>
                            <li class="dropdown-item"><a class="dropdown-item" href="#">Grønnelykkevej</a></li>
                            <li class="dropdown-item"><a class="dropdown-item" href="#">Rådhuset</a></li>
                            <li class="dropdown-item" class="divider"></li>
                            <li class="dropdown-header">Land</li>
                            <li class="dropdown-item"><a class="dropdown-item" href="#">Anholt</a></li>
                            <li class="dropdown-item"><a class="dropdown-item" href="#">Føllesbjerg</a></li>
                            <li class="dropdown-item"><a class="dropdown-item" href="#">Risø</a></li>
                            <li class="dropdown-item"><a class="dropdown-item" href="#">Udborg</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Aalborg</li>
                            <li class="dropdown-item"><a class="dropdown-item" href="#">Vesterbro</a></li>
                            <li class="dropdown-item"><a class="dropdown-item" href="#">Østerbro</a></li>
                            <li class="dropdown-item" class="divider"></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Aarhus</li>
                            <li class="dropdown-item"><a class="dropdown-item" href="#">Banegårdsgade</a></li>
                            <li class="dropdown-item"><a class="dropdown-item" href="#">Botanisk Have</a></li>
                            
                          </ul>
                    </div>
                   

                  
               </li> -->
         <!--       <li >  
                  
                  <div class="dropdown">
                      <a href="#" class="nav-item" data-toggle="dropdown" role="button" aria-relevant="true" aria-expanded="false">Stoffer<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-header">Gasser</li>
                          <li class="dropdown-item"><a class="dropdown-item" href="#">NO<sub>2</sub></a></li>
                          <li class="dropdown-item"><a  class="dropdown-item" href="#">NO<sub>x</sub></a></li>
                          <li class="dropdown-item"><a class="dropdown-item" href="#">CO</a></li>
                          <li class="dropdown-item"><a class="dropdown-item" href="#">O<sub>3</sub></a></li>
                          <li class="dropdown-item"><a class="dropdown-item" href="#">SO<sub>2</sub></a></li>

                          <li class="divider"></li>
                          <li class="dropdown-header">Partikler</li>
                          <li class="dropdown-item"><a class="dropdown-item" href="#">PM<sub>10</sub></a></li>
                          <li class="dropdown-item"><a class="dropdown-item" href="#">PM<sub>2.5</sub></a></li>
                          <li class="dropdown-item" class="divider"></li>
                          
                        </ul>
                  </div>             
             </li> -->